<div class = "row bottom-margin">
	<div class = "body">
		<div class="col-sm-3">
			<center><i class= "glyphicon glyphicon-user" style="font-size:35px;color:gray"></i> <h2><b>Human Health</b></h2>
			<h4>There is a growing need in the world today to accurately assess how the climate and land cover change affect health in regions where vector-borne diseases are prevalent.
			</h4>
				<br><br><a href="#/blog/introduction#human-health">READ MORE</a>
			</center>
		</div>
		<div class = "col-sm-3">
			<center><i class= "glyphicon glyphicon-tree-conifer" style="font-size:35px;color:gray"></i> <h2><b>Land Cover Classification</b></h2>
			<h4>Monitoring deforestation esspecially in the tropical regions of the world like the Amazon rainforest has been crucial this past decade.</h4>
			<br><br><a href="#/blog/introduction#land-cover">READ MORE</a>
			</center>
		</div>

		<div class="col-sm-3">
			<center><i class= "glyphicon glyphicon-leaf" style="font-size:35px;color:gray"></i> <h2><b>Environmental Conservation</b></h2>
			<h4>This is a broader field and can deal with a wider range of possibilities depending on the species, environment, or thing you are trying to protect.</h4>
			<br><br><a href="#/blog/introduction#env-conservation">READ MORE</a>
			</center>

		</div>

		<div class = "col-sm-3">
			<center><i class= "glyphicon glyphicon-fire" style="font-size:35px;color:gray"></i> <h2><b>Natural Disasters</b></h2>
			<h4>Monitoring natural disasters such as landslides, wildfires, and volcanoe eruptions can be done using real-time data coupled with powerful image processing and analysis softwares.</h4>
			<br><br> <a href="#/blog/introduction#natural-disaster">READ MORE</a>
			</center>
		</div>
	</div>
</div>
