<div class = "top-padding">

  <div class="list-group">
    <a href="#/blog/GISTutorial" class="list-group-item active">
      <b>LEARN GIS</b>
    </a>
    <a href="#/blog/GISData#data-acquisition" class="list-group-item">Data Acquisition w/ USGS</a>
    <a href="#/blog/GISData#band-designation" class="list-group-item">Landsat Band Designation</a>
    <a href="#/blog/GISData#band-combination" class="list-group-item">Landsat TM Band Combination</a>
    <a href="#/blog/GISPreProcessing#TOA-Correction" class="list-group-item">TOA Atmospheric Correction</a>
    <a href="#/blog/GISPreProcessing#cloud-masking" class="list-group-item">Cloud Masking</a>
  </div>

  <div class="list-group">
    <a href="#/blog/pythonTutorial" class="list-group-item active">
      <b>LEARN PYTHON</b>
    </a>
    <a href="#/blog/pythonTutorial#101_properties" class="list-group-item">Arcpy 101: Dataset Properties</a>
    <a href="#/blog/pythonTutorial#101_geoprocessing" class="list-group-item">Arcpy 101: Geoprocessing</a>
    <a href="#/blog/pythonTutorial#python-data" class="list-group-item">Data Management: Transfer, Merge, Group</a>
    <a href="#/blog/pythonTutorial#data-visualization" class="list-group-item">Visualize Data: Heat Map</a>
  </div>

  <div class="list-group">
    <a href="#/blog/RTutorial" class="list-group-item active">
      <b>LEARN R</b>
    </a>
    <a href="#/blog/RTutorial#r_basics" class="list-group-item">STATISTICS: Learn </a>
    <a href="#/blog/RTutorial#conf_interval" class="list-group-item">STATISTICS: Confidence Interval </a>
    <a href="#/blog/RTutorial#r_data_basics" class="list-group-item">R DATA: Accessing Datasets</a>
    <a href="#/blog/RTutorial#r_plot_basics" class="list-group-item">Visualize Data: Basic Plotting</a>
    <a href="#/blog/RTutorial#r_matplot_basics" class="list-group-item">Visualize Data: Plotting Multiple Datasets</a>
  </div>

</div>  